<%- include('../layouts/dashboardHeader') %>
<!-- add city form -->
<section id="add-activity">
    <div class="container">
        <br><br>
        <h2 class="text-center">Add An Activity</h2><br>
        <form action="#" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="City Name" name="cityName" value=""><br>
                <input type="text" class="form-control" placeholder="State" name="state"><br>
                <button class="btn btn-primary" type="submit">Add City</button>
            </div>
        </form>
    </div>
</section>
<!-- end add city form -->

<%- include('../layouts/dashboardFooter') %>